body {
  font-family: Arial, Helvetica, sans-serif, "Anton", sans-serif;
  overflow-x: hidden;
}

.ul-navbar {
  font-family: "Krona One", sans-serif;
  font-size: 20px;
}

@media (max-width: 1023px) {
  .ul-navbar {
    visibility: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
}
