---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/components.scss";
import "../styles/utilities.scss";
import Image from "astro/components/Image.astro";
import surpriseHero from "../../src/imgs/my-emoji-surprise-transformed.png";
import nicolasImage from "../../src/imgs/imagenmiaweb.png";
import GlassDonut from "../components/3dMesh.vue";
---

<Layout title="Nicolas Poveda">
  <div class="min-w-[320px] max-w-[1440px] m-auto">
    <nav class="navbar-with-bg">
      <Nav />
      <button class="ul-button">
        <Image src="/menu-2.svg" alt="Menu Icon" height="28" width="28" />
      </button>
    </nav>
    <main>
      <section
        class="section-bg relative min-h-[400px] max-h-[885px] flex justify-center items-center"
      >
        <div class="carousel-container min-w-[100VW] mx-auto">
          <span
            class="carousel-text text-nowrap select-none flex justify-center items-center font-normal text-[100vw] sm:text-[700px] md:text-[800px] lg:text-[900px] xl:text-[1000px] text-[#eaeaea]"
            >DEVELOPER</span
          >
        </div>
        <div class="div-hero absolute bottom-[300px] left-[10px] z-[1]">
          <button class="button-light">View Projects</button>
          <p class="p-text-1 font-semibold">
            Crafting captivating digital experiences
          </p>
        </div>
        <div class="div-hero absolute bottom-[180px] right-[10px] z-[1]">
          <button class="button-dark">Get in touch</button>
        </div>

        <div class="surprise-hero bottom-0 m-auto absolute">
          <div class="m-auto z-[1]">
            <h2 class="h2-hero font-semibold text-[36px] text-center">
              Hi, Im <br /> Nicolas Poveda
            </h2>
          </div>
          <Image
            src={surpriseHero}
            alt="Surprise"
            class="surprise-hero bottom-0 m-auto relative w-[100%] h-auto max-w-[640px]"
            draggable="false"
          />
        </div>
      </section>
    </main>

    <section class="section-bg-2 relative min-h-[885px] max-w-full px-6 py-28">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Elemento 1 -->
        <div class="md:col-span-1 md:row-span-1">
          <div class="max-w-[680px] mb-[40px]">
            <svg width="auto" height="10" class="mb-[20px]">
              <line
                x1="0"
                y1="5"
                x2="680"
                y2="5"
                stroke="black"
                stroke-width="2"></line>
            </svg>
            <div
              class="span-number text-[15px] flex justify-between items-center"
            >
              <p>(THE STORY)</p>
              <span
                class="w-16 h-7 border-[1px] border-black rounded-2xl flex items-center justify-center"
                >01</span
              >
            </div>
            <div class="h2-container">
              <h2
                class="h2-about text-[38px] sm:text-xl md:text-3xl lg:text-6xl"
              >
                ABOUT ME
              </h2>
            </div>
          </div>
        </div>

        <!-- Elemento 2 -->
        <div class="md:col-span-1 md:row-span-3 mx-auto">
          <Image
            src={nicolasImage}
            alt="Surprise"
            class="w-full h-auto max-w-[500px] object-contain"
            draggable="false"
          />
          <Image
            src="/arrowDownRight.svg"
            alt="Menu Icon"
            height="80"
            width="80"
            class="absolute rotate-45 bottom-14 right-10 hidden lg:block"
          />
        </div>

        <!-- Elemento 3 -->
        <div class="md:col-span-1 md:row-span-2">
          <p class="p-about indent-14 leading-loose">
            As a front-end web developer, I specialize in creating exceptional
            digital experiences tailored to your needs. I stay up-to-date with
            the latest web technologies and design trends to deliver visually
            striking, user-friendly sites.
            <br /><br />
            Whether you need a landing page or a complex web app, I can work independently
            or as part of a team to bring your ideas to life. My goal is to craft
            solutions that exceed your expectations and provide a seamless user experience.
          </p>
          <button
            class="button-about mt-16 w-auto p-3.5 border-[1px] border-black rounded-3xl flex justify-center"
          >
          </button>
        </div>
      </div>
    </section>

    <section class="section-bg-3 relative px-6 py-28">
      <div
        class="span-number text-[15px] flex justify-between items-center align-middle font-semibold max-w-[68rem] md:pl-40 pl-10 p-4"
      >
        <p
          class="h-7 border-[2px] border-black rounded-2xl px-3 flex items-center justify-center bg-white"
        >
          THE PROJECTS
        </p>
        <span
          class="w-16 h-7 border-[2px] border-black rounded-2xl flex items-center justify-center bg-white"
          >02</span
        >
      </div>
      <div class="flex justify-center">
        <div class="relative mx-4 btn-container btn-1">
          <div class="absolute inset-0 rounded-lg shadow-lg img-wrapper">
            <img
              src="https://w0.peakpx.com/wallpaper/484/566/HD-wallpaper-car-nice-tuning.jpg"
              alt="Imagen de fondo"
              class="h-full w-full object-cover img-transform"
            />
          </div>
        </div>
        <div class="relative mx-4 btn-container btn-2">
          <div class="absolute inset-0 rounded-lg shadow-lg img-wrapper">
            <img
              src="https://w0.peakpx.com/wallpaper/484/566/HD-wallpaper-car-nice-tuning.jpg"
              alt="Imagen de fondo"
              class="h-full w-full object-cover img-transform"
            />
          </div>
        </div>
        <div class="relative mx-4 btn-container btn-3">
          <div class="absolute inset-0 rounded-lg shadow-lg img-wrapper">
            <img
              src="https://w0.peakpx.com/wallpaper/484/566/HD-wallpaper-car-nice-tuning.jpg"
              alt="Imagen de fondo"
              class="h-full w-full object-cover img-transform"
            />
          </div>
        </div>
      </div>
    </section>
    <section class="section-bg-2 relative min-h-[885px] max-w-full px-6 py-28">
      <h2 class="h2-hero text-[11.5rem]">EDUCATION</h2>

      <!-- Educaci贸n 2023 - Presente -->
      <h3>2023 - Present</h3>
      <ul>
        <li>Independent learning in front-end and back-end development</li>
        <li>Knowledge in HTML, CSS, Sass, Tailwind, React, Next.js, Astro</li>
        <li>
          Introduction to Three.js and Blender for incorporating 3D elements
        </li>
        <li>Ability to design and develop front-end websites</li>
        <li>Skills to receive designs and implement them in the front-end</li>
      </ul>

      <!-- Educaci贸n 2022 - 2023 -->
      <h3>2022 - 2023</h3>
      <ul>
        <li>
          Obtained the Responsive Web Design certification from FreeCodeCamp
        </li>
        <li>
          Started "The Odin Project" course and completed the front-end section
        </li>
      </ul>

      <!-- Educaci贸n 2021 - Presente -->
      <h3>2021 - Present</h3>
      <p>Multimedia Engineering at UNAD University</p>
      <ul>
        <li>Learning Figma</li>
        <li>Knowledge in typography and magazine layout</li>
        <li>Fundamentals of algebra and physics</li>
        <li>Interest in professional drawing and design</li>
        <li>Acquisition of skills in composition and design</li>
        <li>
          Proficiency in tools like Paint 3D, Canva, and basic photo editing
        </li>
      </ul>

      <!-- Educaci贸n 2016 - 2019 -->
      <h3>2016 - 2019</h3>
      <p>High School Education</p>
      <ul>
        <li>Introduction to programming in C#, HTML, and CSS</li>
        <li>Basic knowledge of software and hardware</li>
        <li>Assembling and disassembling computers</li>
        <li>Installation and uninstallation of operating systems</li>
      </ul>
    </section>
  </div>
</Layout>
