---
import "../styles/components.scss";
---

<ul class="ul-navbar flex gap-10 sticky top-0">
  <li><a href="#about">ABOUT</a></li>
  <li><a href="#projects">PROJECTS</a></li>
  <li><a href="#education">EDUCATION</a></li>
  <li>
    <a
      href="mailto:nicolasgarpov64@gmail.com?subject=Interested%20in%20your%20work&body=Hi,%20I%20am%20interested%20in%20your%20work."
      >CONTACT</a
    >
  </li>
</ul>
